@charset "utf-8";
/* CSS Document */
h1 {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url("Images/pattern.jpeg")
}
h2.brushes {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: mediumspringgreen;
}
h2.frames {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: lightcoral;
}
h2.paint {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: skyblue;
}
.highlight {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}